$white: #ffffff;
$black: #000000;
$primary1: #6182C5;
$primary2: #003F75;
$textCol: #1f1f1f;

// import fonts - font-family: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@mixin main-font {
  font-family: 'Nunito', sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;
  transition: all 0.3s;
  border: 1px solid $col1;

  &:hover {
    background-color: transparent;
    color: $col1;

  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #000000;
  background-color: #fefefe;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.layout_margin-top {
  margin-top: 90px;
}

.layout_margin-bottom {
  margin-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &.heading_center {
    align-items: center;
    text-align: center;
  }
}

h1 {
  color: $primary2;
  margin-bottom: 1em;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .hero_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom right;
    }
  }
}

.sub_page {
  .hero_area {
    min-height: auto;
    background-color: darken($color: $primary2, $amount: 10);

    .hero_bg_box {
      display: none;
    }
  }
}

.header_section {
  padding: 15px 0;

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.navbar-brand {

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  span {
    font-weight: bold;
    font-size: 24px;
    color: $white;
    text-transform: uppercase;
  }
}

.custom_nav-container {
  padding: 0;

  .navbar-nav {
    margin-left: auto;

    .nav-item {
      .nav-link {
        padding: 5px 20px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        transition: all 0.3s;
        white-space: nowrap;
      }

      :hover {
        font-weight: 700;
      }
    }
  }
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: $white;

  &:hover {
    color: $primary1;
  }
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;

  span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $white;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      top: -10px;
      border-radius: 5px;
      transition: all 0.3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }
}

/*end header section*/

/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 45px 0 145px 0;

  .row {
    align-items: center;
  }

  #customCarousel1 {
    width: 100%;
    position: unset;
    height: 500px;
  }

  .detail-box {
    color: $primary2;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: $white;
    }

    p {
      color: #fefefe;
      font-size: 14px;
    }

    .btn-box {
      display: flex;
      margin: 0 -5px;
      margin-top: 25px;

      a {
        margin: 5px;
        text-align: center;
        width: 165px;
      }

      .btn1 {
        @include hero_btn($white, $primary1, 10px, 15px, 5px);
      }
    }
  }

  .img-box {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 375px;
    }
  }

  .carousel-indicators {
    position: unset;
    margin: 0;
    justify-content: center;
    align-items: center;

    li {
      background-color: $white;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      opacity: 1;

      &.active {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// end slider section

// department section

.department_section {
  position: relative;

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    background-color: $white;
    border-radius: 5px;
    text-align: center;

    .img-box {
      width: 150px;
      height: 150px;
      margin-bottom: 15px;
      background-color: $primary1;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 55px;
        height: 55px;
        object-fit: cover;
      }
    }

    .detail-box {
      h5 {
        font-weight: bold;
        text-transform: uppercase;
      }

      p {}

      a {
        color: $primary2;
        font-weight: 600;

        &:hover {
          color: $primary1;
        }
      }
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a {
      @include hero_btn($primary1, $white, 10px, 45px, 5px);
    }
  }
}

// end department section

// about section
.about_section {
  // .row {
  //   align-items: center;
  // }

  // .img-box {
  //   display: flex;
  //   justify-content: center;

  //   img {
  //     width: 100%;
  //     border-radius: 15px;
  //   }
  // }

  .detail-box {
    h3 {
      font-weight: bold;
    }

    p {
      margin-top: 15px;
    }

    a {
      @include hero_btn($primary1, $white, 10px, 45px, 5px);
      margin-top: 15px;
    }

    .list-about {
      margin-top: 15px;
      padding: 0;
      list-style: none;
    }
  }
}

// end about section

// doctor section

.doctor_section {
  background: darken($color: $primary2, $amount: 10);

  .heading_container {
    color: $white;
  }

  .box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 45px;
    border-radius: 10px;
    overflow: hidden;
    background: $white;

    .img-box {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .detail-box {
      width: 100%;
      padding: 25px 15px;
      text-align: center;
      position: relative;
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a {
      @include hero_btn($primary2, $white, 10px, 45px, 5px);
    }
  }
}

// end doctor section

// contact section
.contact_section {
  position: relative;

  .heading_container {
    margin-bottom: 25px;

    h2 {
      text-transform: uppercase;
    }
  }

  .form_container {
    input {
      width: 100%;
      border: none;
      height: 50px;
      margin-bottom: 15px;
      padding-left: 20px;
      outline: none;
      color: #101010;
      background: #eeeeee;

      &::placeholder {
        color: $black;
      }

      &.message-box {
        height: 175px;
      }
    }

    button {
      width: 100%;
      border: none;
      text-transform: uppercase;
      @include hero_btn($primary2, $white, 12px, 55px, 5px);
    }
  }

  .map_container {
    height: 368px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    padding: 0;

    .map {
      height: 100%;
      flex: 1;

      #googleMap {
        height: 100%;
      }
    }
  }
}

// end contact section

// client section

.client_section {
  .heading_container {
    align-items: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 45px;
    border-radius: 15px;

    .img-box {
      margin-bottom: 15px;
      min-width: 250px;
      max-width: 250px;
      border-radius: 50%;
      border: 1px solid $primary1;
      overflow: hidden;

      img {
        width: 100%;
        border-radius: 100%;
        border: 7px solid rgba($color: #fff, $alpha: .45);
      }
    }

    .detail-box {
      display: flex;
      flex-direction: column;

      .name {

        img {
          width: 25px;
          margin-bottom: 5px;
        }

        h6 {
          color: $primary1;
          font-size: 20px;
        }
      }
    }
  }

  .carousel_btn-container {
    display: flex;
    justify-content: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: unset;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: $primary1;
    background-position: center;
    border-radius: 5px;
    margin: 0 2.5px;

    &:hover {
      background-color: $primary2;
    }
  }

  .carousel-control-next {
    left: initial;
  }
}

// end client section

// footer section
.footer_section {
  background: darken($color: $primary2, $amount: 10);
  color: $white;
  padding: 60px 0 15px 0;
  position: relative;

  h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  .footer_col {
    margin-bottom: 30px;
  }

  .footer_contact {
    .contact_link_box {
      display: flex;
      flex-direction: column;

      a {
        margin: 5px 0;
        color: $white;

        i {
          margin-right: 5px;
        }

        &:hover {
          color: $primary1;
        }
      }
    }
  }

  .footer_social {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      border-radius: 100%;
      margin-right: 10px;
      font-size: 24px;

      &:hover {
        color: $primary1;
      }
    }
  }

  .footer_links {
    display: flex;
    flex-wrap: wrap;

    a {
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-bottom: 15px;
      color: $white;

      &:hover {
        color: $primary1;
      }
    }
  }

  form {
    input {
      border: none;
      background-color: #fefefe;
      width: 100%;
      height: 45px;
      color: $black;
      outline: none;
      border-radius: 5px;
      padding: 0 15px;

      &::placeholder {
        color: #777;
      }
    }

    button {
      width: 100%;
      text-align: center;
      @include hero_btn($primary1, $white, 10px, 55px, 5px);
      margin-top: 15px;
    }
  }

  .footer-info {
    text-align: center;

    p {
      color: $white;
      padding: 25px 0;
      margin: 0;

      a {
        color: inherit;
      }
    }
  }
}

video {
  border-radius: 5px;
}

.content-bolder {
  font-weight: 600;
  color: $primary2;
}

#about_page {
  

  .picture {
    
    margin-bottom: 2em;
  }
  
  h1 {
    color: $primary2;
    margin-bottom: 1em;
  }

  hr {
    border: 1px solid $primary2;
    width: 20%;
  }

    img {
      
      width: 100%;
      // height: 100%;
      object-fit: contain;
      
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      
    }
    
 



  li {
    padding-left: 1ch;
    margin-left: 1.5ch;
  }

  li::marker {
    content: "👉";
    color: $primary2;
  }
}

// ------------------------------------


$headerSizes: 48px 40px 31px 25px 20px 16px;
$index: 1;

@while $index <=6 {

  h#{$index},
  .h#{$index} {
    font-size: nth($headerSizes, $index);
  }

  $index: $index + 1;
}

.wrapper {
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: auto;
  padding-left: auto;
  display: flex;
  flex-flow: column wrap;
}

.container {
  padding: 2em;
  margin: auto;
}

.card {
  text-align: left;
  padding: 1em;
  margin: 1em;
  border: 2px solid $primary2;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .container {
    padding: 0;
    min-width: 300px;
  }
}

.splitContent {
  justify-content: space-between;
  min-width: 50%;
}

.col {
  flex: 1 2 0;
  max-width: 100%;

  &.col-auto {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px 0 -15px;
}

.cardSect {
  align-content: center;

  justify-content: center;
  margin: 10px;
  min-width: 180px;
  display: flex;
  flex-wrap: wrap;
}


.icon {
  .big {
    font-size: 50px;
  }

  .medium {
    font-size: 35px;
  }

  .small {
    font-size: 20px;
  }

  .xs {
    font-size: 10px;
  }
}


.head {
  text-align: center;
  margin-bottoom: 5px;

  .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .icon {
    margin-bottom: 10px;
  }

}
.item {

  .content {
    font-size: 15px;

    .content-bolder {
      text-align: center;
    }
  }
}

@media (max-width: 991.98px) {
  .title {
    text-align: center;
  }

  .cardSect {
    justify-content: center;
    min-height: 100px;
  }

  #dividerWrap {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 90%;

  }

  .item {
    display: block;
    min-width: 300;

  }


  .contentDivider {
    margin: 15px 0 15px 0;
    font-size: 20px;

    .dividedText {

      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:before,
      &:after {
        content: '';
        border-top: 2px solid;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
      }

      &:after {
        margin: 0 0 0 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  #dividerWrap {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 20px;
    padding: -10px 0 -10px;
    justify-content: center;
  }



  .split {
    justify-content: center;
  }

  .contentDivider {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    justify-self: center;

    height: 100%;
    min-width: 100%;

    .dividedText {

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 1px;
        left: 50%;
        border-left: 2px solid black;
      }

      &:before {
        bottom: 50%;
        top: 0;
        margin-bottom: 20px;
      }

      &:after {
        top: 50%;
        bottom: 0;
        margin-top: 20px;
      }
    }
  }
}

#ecrf_page {

  .wrapper {
  max-width: 600px;
  margin: 0 auto;
  }
  
  ol {
  list-style: none;
  padding: 0;
  }
  
  li + li {
  margin-top: 1rem;
  }
  
  li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: aliceblue;
  padding: 1.5rem;
  border-radius: 1rem;
  width: calc(100% - 2rem);
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
  }
  
  li::before {
  counter-increment: list-item;
  content: counter(list-item);
  font-size: 2rem;
  font-weight: 700;
  width: 1.5em;
  height: 1.5em;
  background: $primary2;
  flex: 0 0 auto;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  li:nth-child(even) {
  flex-direction: row-reverse;
  background: lavender;
  margin-right: -2rem;
  margin-left: 2rem;
  }

  .end_paragraph {
    margin-top: 1em;
  }
  #carouselBtnOptions > {
    // .carousel-inner {
    //   height: 200px;
    // }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: $primary2;
  background-size: 100%, 100%;
  border-radius: 50%;
  // border: 1px solid $primary2;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '►';
  font-size: 35px;
  color:$primary2;
}

.carousel-control-prev-icon:after {
  content: '◀︎';
  font-size: 35px;
  color:$primary2;
}
}

// -----------------------------------

// end footer section◀︎